{% extends 'base.html' %}
{% load static%}

{% block content %}

<div class="container">

    <div class="w3-row w3-center">
        <header>
            <p style="font-size:24px">All <i class="w3-text-teal" style="font-family: 'Caveat', cursive;
">chefs</i></p>
        </header>
        {% for profile in profiles%}
        <div class="w3-col l4 m6 s12 ">
            <div class="w3-card-2">
                <header style="height:150px">
                                    {% if profile.profile_pic%}

                     <img src=" {{ profile.profile_pic.url }}" class="w3-center w3-image w3-center"
                         style="min-height:100%; max-height:100%">
                 {% endif %}
                </header>




                <div class="w3-container w3-margin">
                    <p><strong>Chef {{profile.user.username}}</strong></p>

                         <p><a class="info w3-btn w3-round-xxlarge w3-teal" href="{% url 'profile' username=profile.user.username %}">
                        See Profile </a></p>


                </div>
        </div>


        </div>
        {% endfor %}

    </div>


</div>

{% endblock %}